.navbar.navbar-fixed-top
  .navbar-inner
    .login-links
      - if !current_user
        = link_to "Sign Up", signup_path
        = link_to "Login", login_path
      - else
        = link_to "Log Out", logout_path
        = link_to "View Account", "#"
    = link_to "Rails Sandbox", root_path, { :class => 'brand' }
    .clear-div